#btn-close {
    font-family: 'icomoon' !important;
    position absolute
    right 10px 
    top 3px
    cursor: pointer;
    &:before{
        font-size 25px
        content: "\ea0f";
    }
    &:hover{
        color white
    }
    @media (max-width: 450px){
        color white
    }
}
