.categories{
    max-width 850px
    & .cate-content{
        width 100%
        & .cate-header{
            width 100%
            box-sizing border-box
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 30px;
            & h2{
                font-size: 22px;
                font-weight: 400;
                border-bottom: 1px dashed #ccc;
                width: 590px;
                max-width: 100%;
                line-height: 2;
                margin-bottom: 15px;
            }
            & ul{
                list-style-type: none;
                & li{
                    display inline-block
                    margin 0 10px
                    line-height 28px
                }
            }
        }
    }
}