.categories{
    max-width 870px
    min-width 200px
    box-sizing border-box
    padding 0 10px
    & .cate-content{
        width 100%
        & .cate-header{
            width 100%
            box-sizing border-box
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 30px;
            & h2{
                font-size: 22px;
                font-weight: 400;
                border-bottom: 1px dashed #ccc;
                width: 590px;
                max-width: 100%;
                line-height: 2;
                margin-bottom: 15px;
            }
            & ul{
                list-style-type: none;
                & li{
                    display inline-block
                    padding 0 7px
                    margin 0 3px
                    line-height 28px
                }
                & li.cate-choose{
                    background #aad2f0
                }
            }
        }
        & .cate-detail{
            margin-bottom 20px
            & h3{
                border-bottom: 1px dashed #aaa;
                line-height: 30px;
                text-align: center;
                padding 5px
                & a{
                    font-size 25px
                }
                & span{
                    font-size 16px
                }
            }
            & ul{
                margin: 20px 0 20px 30px;
                list-style-type: square;
                & li{
                    margin-bottom: 5px;
                    list-style-type: square;
                    line-height: 28px;
                    font-size: 16px;
                    & span{
                        font-size 14px
                    }
                    & span a{
                        color #4a75b5
                    }
                }
            }
        }
    }
}