.blog-content{
  & .content{
    & .left-part{
      & .github-star{
        & .from-gh{
          & .p-item{
            margin-bottom 10px
            padding 10px
            background #f3f3f3
            box-shadow 2px 2px 4px #e2e2e2
            & .p-header{
              display inline-block
              margin-bottom 10px
              font-size 20px
              cursor pointer
              & a{
                &:hover{
                  color #9e7a7a
                  text-decoration none
                }
              }
            }
            & .p-body{
              margin-bottom 10px
              & p{
                word-wrap break-word
                word-break break-word
                line-height 18px
              }
            }
            & .p-footer{
              text-align right
              & span{
                margin-right 10px
                & i{
                  padding-right 5px
                  &::before{
                    font-size 12px
                  }
                }
              }
            }
            &:hover{
              transform scale(1.05)
            }
          }
          & .loading-icon{
            -webkit-animation: loading 2s infinite linear;
            animation: loading 2s infinite linear;
            font-size: 28px;
            display: inline-block
          }
        }
      }
    }
  }
}