.info{
    & .header{
        font-size 20px
        border-bottom 1px dashed #999
        line-height 2
        margin 15px 0
        & span{
            font-size 16px
            color #999
            font-weight bold
            margin-left 5px
        }
    }
    & .about-me{
        & .about-info{
            & img{
                width 100px
                border-radius 100%
                float left
                margin 10px
            }
            & p{
                line-height 2
                margin-bottom 15px
            }
            & .resume{
                font-weight bold
                & a{
                    padding-left 5px
                }
            }
        }
    }
    & .about-pape{
        & p{
            line-height 2
            margin-bottom 15px
        }
    }
    & .link{
        & ul{
            list-style-type disc
            padding-left 25px
            & li{
                line-height 2
                & span{
                    color #999
                    margin-right 5px
                }
            }
        }
    }
    & .last-update{
        margin 25px 0
        padding 20px 10px
        text-align center
        background #c3c3c3
    }
    & .github-source{
        font-weight 700
        margin 10px 0 25px 0
    }
}