.post .post-markdown{
    line-height: 30px;
    position: relative;
    & .pachong{
        display none
        height 0
        width 0
    }
    & a{
        color #ef593e
        &:hover{
            color black
        }
    }
    & p a{
        &:before{
            font-family 'icomoon'
            content '\e9cd'
            color #999
        }
    }
    & del{
        color #999
        font-size 14px
        margin 0 3px
    }
    & em{
        margin-right 5px
    }
    & strong{
        margin 0 3px
    }
    & p,blockquote,div{
        margin-bottom 20px
    }
    & ul,ol{
        padding: 10px 0 10px 25px;
        margin: 5px 5px 20px 0px
        border: 2px solid #999;
        border-width: 0 0 2px 1px;
        list-style-type: disc;
        & li{
            margin-bottom: 5px;
            list-style-type: disc;
            line-height: 28px;
            font-size: 16px;
        }
    }
    & ol li{
        list-style-type decimal
    }
    & a{
        mytransition(color 0.4s ease)
    }
    & .highlight{
        background: #f8f8f8;
        overflow auto
        border 1px dashed black
        margin 20px 0
        max-height 650px
        & pre{
            margin 0
            & code{
                padding 10px 0px 10px 5px
            }
        }
        & code{
            border 0px
        }
        & table{
            width 100%
        }
        & .gutter{
            width 20px
            border-right 1px solid #999
            text-align center
            & pre{
                line-height 1.5
                & div{
                    margin 0
                    color #999
                }
            }
        }
        & .pre{

        }
    }
    & pre{
        background: #f8f8f8;
        margin 20px 0
        word-wrap normal
        & code{
            line-height 1.5
            display: block;
            padding: 10px 15px;
            background: #23241f;
            background-color: #f8f8f8;
            border 1px dashed black
            color: black;
            font-family: Consolas, "Courier New";
            font-weight: normal;
        }
    }
    & p code{
        border: 1px dashed #ff0000;
        color #454600
        padding 2px 8px
        border-radius: 5px
        margin 5px
        background white
        font-family: Georgia,serif;
    }
    & blockquote{
        background-color: #f5f3f3;
        margin: 20px 0;
        padding: 15px
        border-style: solid;
        border-color: #ccc;
        border-width: 0px 0px 0px 4px;
        color: #444;
        font-size: 1rem;
        position: relative;
    }
    & h2,h3,h4,h5{
        margin-bottom: 15px;
        font-weight: normal;
    }
    & h2{
        font-size: 30px;
        border-bottom 1px solid #e0b3b3
        font-weight: bold;
        line-height: 44px;
        margin-top: 30px;
    }
    & h3{
        font-size: 26px;
        line-height: 44px;
        margin-top: 30px;
    }
    & h4{
        font-size: 24px;
        line-height: 48px;
        margin-top: 30px;
    }
    & h5{
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
    }
    & span.span-img{
        &:after{
            content '图片来源于网络'
            text-align center
            display block
            font-size 14px
        }
    }
    & img{
        max-width: 100%;
        box-sizing border-box
        display: block;
        border-radius: 8px;
        border: 2px solid #fbe9e9;
        overflow: hidden;
    }
    & img.img-mid{
        margin 0 auto
    }
    & hr{
        margin: 15px 0;
        height: 4px;
        border: none;
        background-color: #ccc;
        left: -2px;
    }
    & blockquote p{
        margin-bottom 0
    }
    & .demo{
        background: white;
        padding: 5px;
        padding-bottom: 18px;
        position: relative;
        border: 1px dashed #999
        &:after{
            content: '演示';
            color: #ef8787;
            position: absolute;
            right: 5px;
            bottom: 2px;
            font-size: 14px;
            line-height: 15px;
        }
        & span{
            margin 0 7px
        }
    }
}