.post .post-markdown{
    line-height: 30px;
    position: relative;
    & a{
        color #ef593e
        &:hover{
            color black
        }
    }
    & strong{
        margin 0 3px
    }
    & p,blockquote,div{
        margin-bottom 20px
    }
    & ul,ol{
        margin: 25px 0 25px 35px;
        list-style-type: square;
        & li{
            margin-bottom: 5px;
            list-style-type: square;
            line-height: 28px;
            font-size: 16px;
        }
    }
    & ol li{
        list-style-type decimal
    }
    & a{
        mytransition(color 0.4s ease)
    }
    & h2{
        font-size: 24px;
        font-weight: bold;
        line-height: 50px;
        color: #000;
    }
    & .highlight{
        margin 20px 0
        position relative
        font-family: Consolas, "Courier New";
        background: #f8f8f8;
        padding: 10px 15px;
        overflow-x: auto;
        border: 1px dashed black;
        word-wrap normal
        & .gutter{
            display none
        }
        & div{
            margin 5px;
            line-height 1.5
        }
        & pre{
            margin 0
        }
    }
    & pre{
        background: #f8f8f8;
        margin 20px 0
        word-wrap normal
        & code{
            line-height 1.5
            display: block;
            overflow-x: auto;
            padding: 10px 15px;
            background: #23241f;
            background-color: #f8f8f8;
            border-color: black;
            border-style: dashed;
            border-width: 1px;
            color: black;
            font-family: Consolas, "Courier New";
            font-weight: normal;
        }
    }
    & p code{
        border: 1px dashed #ff0000;
        color #454600
        padding 2px 8px
        border-radius: 5px
        margin 5px
    }
    & blockquote{
        background-color: #f5f3f3;
        margin: 20px 0;
        padding: 15px
        border-style: solid;
        border-color: #ccc;
        border-width: 0px 0px 0px 4px;
        color: #444;
        font-size: 1rem;
        position: relative;
    }
    & blockquote ul,ol{
        margin: 10px 0 10px 35px
    }
    & h3,h4,h5{
        margin-bottom: 15px;
        font-weight: normal;
    }
    & h3{
        font-size: 32px;
        line-height: 64px;
        margin-top: 50px;
    }
    & h4{
        font-size: 24px;
        line-height: 48px;
        margin-top: 30px;
    }
    & h5{
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
    }
    & img{
        max-width: 96%;
        display: block;
        border-radius: 8px;
        border: 6px solid #e8e8e8;
        overflow: hidden;
    }
    & hr{
        margin: 15px 0;
        height: 4px;
        border: none;
        background-color: #ccc;
        left: -2px;
    }
    & blockquote p{
        margin-bottom 0
    }
}