.post{
    background-color: rgba(250,250,253,0.7);
    -webkit-box-shadow: 0 0 10px 0.1px #d4d4d4;
    box-shadow: 0 0 10px 0.1px #d4d4d4;
    max-width 920px
    min-width 200px
    box-sizing border-box
    padding 15px 70px
    margin 10px auto 20px
    & .overview{
        font-size: 22px;
        line-height: 35px;
        margin-bottom: 5px;
        margin-top: 10px
        padding-bottom 10px
        border-bottom 1px solid black
        & a{
            color #4a75b5
            &:hover{
                color black
            }
        }
        & .last{
            color #999
            font-size 18px
        }
        & .web-feed{
            float: right;
            font-size: 23px;
            color #ef593e
            &:before{
                font-family 'icomoon'
                content: "\ea9b"
            }
        }
        & .search-icon{
            cursor pointer
            float right
            font-size 23px
            color #ef593e
        }
    }
    & .post-info{
        border-bottom 1px solid #d3d3d3
        padding 20px 0
        & h1{
            font-size 25px
            line-height 2
            text-align center
            font-weight bold
        }
        & .author-info{
            color #999
            line-height 2
            & p a{
                color #4a75b5
                &:hover{
                    color black
                }
            }
            .author{
                float:right
                padding 0 10px
                & a{
                    padding-left 5px
                }
            }
            .date{
                & span{
                    color black
                    padding-left 5px
                }
            }
        }
    }
    & .post-markdown{
        padding 30px 0 20px
        border-bottom 1px solid #d3d3d3
        &:after{
            content '(完)'
            font-size 22px
            text-align center
        }
    }
    & .pre-next{
        margin 20px 0
        font-size 20px
        & .pre-page{
            float left
            line-height 1.5
            &:after{
                content '前一篇'
                font-size 10px
                color #999
                margin-left 5px
            }
        }
        & .next-page{
            float right
            line-height 1.5
            &:before{
                content '后一篇'
                font-size 10px
                color #999
                margin-right 5px
            }
        }
        & a{
            color #4a75b5
            &:hover{
                color black
            }
        }
    }
    & .post-footer{
        margin 40px 5px
        padding 10px
        border 1px solid black
        & .post-feed{
            float right
            font-size: 25px;
            padding: 7px;
        }
        & h3{
            border-bottom: 1px dashed black;
            font-size: 25px;
            font-weight: bold;
            color: #556677;
            padding 10px
        }
        & ul{
            padding 30px 0px 30px 25px
            list-style-type circle
            & li{
                line-height 2
                & span:first-child{
                    color #999
                }
                & span a i{
                    margin 0 15px 0 5px
                }
                & span.share{
                    & a{
                        margin 0 10px
                    }
                }
            }
        }
        & a{
            color #4a75b5
            &:hover{
                color black
            }
        }
    }
    & .page-related{
        margin 30px 0
        & h2{
            font-size 25px
            border-bottom 1px dashed black
            padding 10px
        }
        & ul{
            margin-left 20px
            list-style-type square
            & li{
                line-height 2
                margin 10px 0
                & span{
                    font-weight bold
                    margin-right 5px
                }
                & a{
                    color #4a75b5
                    &:hover{
                        color black
                    }
                }
                & p{
                    border-left 3px solid #999
                    padding-left 10px
                }
            }
        }
    }
    & .web-info{
        margin-top 25px
        padding-bottom 10px
        color #aaa
        text-align right
        border-top 1px solid #666
        padding-top 10px
        text-align center
        font-size 14px
        & a{
            color #4a75b5
        }
    }
    @media (max-width: 800px){
        padding 15px 50px
        margin-top 0px
        & .web-info{
            & span{
                display none
            }
        }
        margin-bottom 0px
    }
    @media (max-width: 600px){
        padding 15px 20px 5px 20px
    }
    @media (max-width: 400px){
        padding 15px 10px 5px 20px
    }
}