#toc{
  position fixed
  top 0px
  left 50%
  width 150px
  padding 10px 0 10px 0
  z-index 2
  margin-left 400px
  line-height 1.5
  & .toc-icon{
    font-size 14px
    position absolute
    cursor pointer
    right 0px
    top 0px
    padding 10px
  }
  & .toc-header{
    font-weight: 700;
    border: none;
    padding: 8px 12px;
    font-size: 18px;
    position relative
  }
  & .toc{
    list-style none
    position relative
    font-size 14px
    padding-left 8px
    overflow-x: hidden;
    & a{
      color #4a75b5
      &:hover{
        color #ef593e
        text-decoration none
      }
    }
    & span.toc-number{
      font-size 20px
    }
    & ol, & ul{
      list-style none
    }
    & .toc-child{
      margin-left 10px
      & span.toc-number{
        display none
      }
    }
    & .toc-link{
      white-space nowrap
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      background: #eee;
      width: 3px;
      top: 0;
      bottom: 0;
      border-radius: 5px;
      left: 0;
    }
  }
  @media (max-width: 1100px){
    display none
  }
}