#toc{
  position fixed
  top 0px
  left 50%
  padding 10px 0 10px 0
  z-index 2
  margin-left 400px
  margin-top 8px
  line-height 1.5
  background-color rgba(242, 243, 241, 0.6)
  padding-right 5px
  width 160px
  & .toc-icon{
    font-size 14px
    position absolute
    cursor pointer
    right 0px
    top 0px
    padding 10px
  }
  & .toc-header{
    font-weight: 700;
    border: none;
    padding: 8px 12px;
    font-size: 20px;
    position relative
  }
  & .close{
    display none
  }
  & .toc{
    list-style none
    position relative
    font-size 16px
    padding-left 8px
    overflow-x: hidden;
    & a{
      color #4a75b5
      &:hover{
        color #ef593e
        text-decoration none
      }
    }
    & ol, & ul{
      list-style-type disc
    }
    & .toc-child{
      padding-left 20px
      font-size 12px
      display none
      & span.toc-number{
        display none
      }
    }
    & .active~.toc-child{
      display block
    }
    & .toc-child.toc-show{
      display block
    }
    & .toc-link{
      white-space nowrap
    }
    & .toc-link.active{
      color #ef593e
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      background: #eee;
      width: 3px;
      top: 0;
      bottom: 0;
      border-radius: 5px;
      left: 0;
    }
  }
  @media (max-width: 1100px){
    display none
  }
}