::selection {
    background: #fde6ba;
    color: #000;
}
a{
	color #ef593e
	text-decoration none
	&:hover{
		color black
		text-decoration underline
	}
}
h1,h2,h3{
	& a{
		&:hover{
			text-decoration none
			color #9E7A7A
		}
	}
}

.clear{
	&:after{
		content: '\20';
	    display: block;
	    height: 0;
	    clear: both;
	}
}
.web-feed{
	margin-left 10px
}
.pre-icon:before{
	font-style: normal;
    font-family 'icomoon'
    content: "\ea38"
}
.next-icon:before{
	font-style: normal;
    font-family 'icomoon'
    content: "\ea34"
}
.weibo:before{
	font-style: normal;
    font-family 'icomoon'
    content: "\ea9a"
}
.github:before{
	font-style: normal;
    font-family 'icomoon'
    content: "\eab0"	
}
.feed-icon:before{
	font-style: normal;
    font-family 'icomoon'
    content: "\ea9c"	
}
.search-icon:before{
	font-style: normal;
    font-family 'icomoon'
    content: "\e986"
}
.close-icon:before{
  font-style: normal;
    font-family 'icomoon'
    content: "\ea0f"  
}
.toc-icon:before{
	font-style: normal;
    font-family 'icomoon'
    content: "\ea0f"	
}
.back-to-top:before{
	font-style: normal;
    font-family 'icomoon'
    content: "\ea32"
}
.goto-comments:before{
	font-style: normal;
    font-family 'icomoon'
    content: "\e96b"
}
.daima-icon:before{
	font-style: normal;
    font-family 'icomoon2'
    content: "\ea80"
}
.star-icon:before{
	font-style: normal;
    font-family 'icomoon2'
    content: "\e9d9"
}
.fork-icon:before{
	font-style: normal;
    font-family 'icomoon2'
    content: "\e900"
}
.loading-icon:before{
	font-style: normal;
    font-family 'icomoon2'
    content: "\e97a"
}
